.main {
  background-image: url(../../assets/images/cat.jpg);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    margin: 80px 100px;
    width: 1000px;
    height: 800px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .formItem {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
